@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nixie+One&display=swap');

html {
    font-size: 16px;
}
body {
    margin: 5rem auto;
    top: 0;
    background-color: #FDFAF3;
    font-family: josefin sans;
    line-height: ;
    color: #395364;
    max-width: 90rem;
    line-height: 1.25rem;
}

header {
    top: 0;
    font-family: nixie one;
    font-size: larger;
}

nav {
    width: 75%; 
    margin: auto;
    display: flex;
    justify-content: space-around;
}

img {
    max-width: 100%; 
    max-height: 640px;
}

a {
    text-decoration: none;
    margin: 0 0 0 2rem;
    color: #395364;
}

a:visited {
    color: #395364; 
}

a:hover,
.selected {
    color: #E17070;
}

h1, h2 {
    font-family: nixie one;
    font-weight: bold;
}

main{
    margin: auto; 
}

section {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
    padding: 2rem;
}

label {
    display: block;
    margin: 1rem 0 1rem 0;  
}

input, textarea {
    width: 100%;
    background-color: #395364;
    color: #FDFAF3;
    font-family: josefin sans;
    font-size: larger; 
    grid-column: 4 / 11;
}

textarea {
    height: 20rem;
}

button {
    margin: auto;
    background-color: #395364;
    color: #FDFAF3;
    font-family: josefin sans;
    font-size: x-large; 
    text-align: center;
    border: none;
    border-radius: .5rem;
}

button:hover {
    background-color: #E17070;
}

footer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#splash_logo {
    margin: auto;
    text-align: center;
}

#headerlogo {
    text-align: center;
    width: 75%; 
    margin: auto; 
}

#headerlogo img{
    width: 50%; 
}

#tagline {
    text-align: center;
    margin: auto;
    grid-column: 3 / 11;
}

#leftprojects {
    max-width: 75%;
    grid-column: 4 / 7;
}

#rightprojects {
    grid-column: 8 / 10;
}

#about_paragraph {
    max-width: 75%;
    grid-column: 3 / 8;
}

#portrait {
    grid-column: 8 / 11;
}

#project1 {
    grid-column: 3 / 11;
}

#project1_img1 {
    grid-column: 3 / 6;
}

#project1_img2 {
    grid-column: 8 / 11;
}

#project2 {
    grid-column: 3 / 11;
}

#project2_img {
    grid-column: 4 / 10;
}

#project3 {
    grid-column: 3 / 11;
}

#project3_img {
    grid-column: 3 / 11;
}

#project4 {
    grid-column: 3 / 11;
}

#project4img {
    grid-column: 3 / 11; 
}

#project5 {
    grid-column: 3 / 11;
}

#project5_img1 {
    grid-column: 3 / 6;
}

#project5_img2 {
    grid-column: 8 / 11;
}

#project6 {
    grid-column: 3 / 11;
}

#project6_img {
    grid-column: 5 / 11;
}

#formheader {
    text-align: center;
    margin: auto;
    grid-column: 4 / 10;
}

#form {
    grid-column: 3 / 11;
}

