@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nixie+One&display=swap');

html {
    font-size: 16px;
}
body {
    background-color: #FDFAF3;
    font-family: josefin sans;
    line-height: ;
    color: #395364;
    max-width: 90rem;
    margin: 5rem auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: nixie one;
}

nav {

}

a {
    text-decoration: none;
    margin: 0 0 0 2rem;
}

a:visited {
    color: #395364; 
}

a:hover,
.selected {
    color: #E17070;
}


main{

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}